* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(185, 75%, 39%);
  overflow: hidden;
  /* to remove scrollbar */
}

h6 {
  color: hsl(229, 23%, 23%);
  font-size: 18px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  margin: 10px;
}

p {
  color:  hsl(227, 10%, 46%);
  font-family: 'Kumbh Sans', sans-serif;

  margin: 0;
}
.LondonParagraph {
  font: 12px;

}
.text {
  font-size: 11px;

}

.pattern-top {
  position: absolute;
  bottom: 35%;
  right: 55%;
}

.pattern-bottom {
  position: absolute;
  left: 55%;
  top: 35%;
  z-index: -1;
}

.container {
  text-align: center;
  vertical-align: center;
  background-color: white;
  width: 350px;
  height: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4%;
  box-shadow: 0 1px 4px 1px hsl(0, 0%, 59%);
  overflow: hidden;
}

.pattern-img {
  width: 100%;
}

.victor-img {
  position: absolute;
  right: 130px;
  top: 80px;
  border-radius: 50%;
  border: solid 5px white;
}

.details-container {
  margin-top: 50px;
}

.deatils2 {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.name, .age {
  display: inline-block;
  margin: 1px;
}
